body {
    font-family: Helvetica, Dotum, sans-serif;
    font-size: 12px;
    background: #f5f6f7;
}

* {
    box-sizing: border-box;
}

#header {
    width: 768px;
    margin: 0 auto;
    position: relative;
    padding: 106px 0 53px;
}

#header .header__logo img {
    display: block;
    width: 231px;
    height: 44px;
    margin: 0 auto;
}

#header .lang {
    position: absolute;
    top: 20px;
    right: 10px;
}

/*Vender Prefix (브라우저 업체별 접두사)*/
.input--text::-webkit-input-placeholder {
    color: #cacaca;
}

.input--text::-ms-input-placeholder {
    color: #cacaca;
}

/*#header .lang::after {*/
/*    content: '';*/
/*    position: absolute;*/
/*    top: 8px;*/
/*    right: 8px;*/
/*    width: 16px;*/
/*    height: 14px;*/
/*    background-image: url(https://ssl.pstatic.net/static/nid/login/pc_qr_once.png);*/
/*    background-repeat: no-repeat;*/
/*    background-position: -100px -69px;*/
/*    background-color: #f8f8fa;*/
/*    background-size: 170px 150px;*/
/*    cursor: pointer;*/
/*    z-index: -1;*/
/*}*/

#header .lang .sel {
    position: relative;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    width: 100%;
    min-width: 95px;
    height: 30px;
    padding: 4px 10px 6px 8px;
    color: #333;
    border: 1px solid #ccc;
    cursor: pointer;
}

#header .lang .sel option {
    font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 0 2px 1px;
}

#container {
    width: 768px;
    margin: 0 auto;
    padding-bottom: 50px;
    min-height: 185px;
}

#content {
    width: 460px;
    margin: 0 auto;
    padding-bottom: 30px;
}

.input--text {
    width: 100%;
    height: 40px;
    padding: 7px 35px 10px 11px;
    border: 1px solid #dadada;
    margin-bottom: 8px;
    outline: none;
}

.input--text:focus {
    border-color: #03c75a;
}

.login {
    display: block;
    width: 100%;
    height: 56px;
    line-height: 56px;
    border: 1px solid rgba(0,0,0,.1);
    color: #fff;
    box-shadow : 0 2px 6px 0 rgba(61,80,81,.08);
    background-color: #03c75a;
    font-size: 16px;
    cursor: pointer;
    margin: 6px 0 14px;
    text-align: center;
}

.check_info {
    position: relative;
    display: block;
    height: 26px;
    margin-bottom: 12px;
}

.check_info .login_check input {
    position: absolute;
    top: 1px;
    left: 1px;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.check_info .login__check .ico_keep_check::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../img/download-1.png");
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.check_info .login__check label {
    position: absolute;
    top: 0;
    left: -1px;
    height: 26px;
    padding-left: 32px;
    font-size: 15px;
    line-height: 26px;
    cursor: pointer;
    color: #333;
    border: 1px solid #f5f6f7;
    background-color: #f5f6f7;
}

.qr__wrap {
    padding-top: 38px;
    border-top: 1px solid #e4e4e5;
    position: relative;
}

.qr__wrap .title {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    color: #000;
    margin-bottom: 6px;
}

.qr__login {
    display: table;
    table-layout: fixed;
    width: 100%;
    margin-top: 21px;
    text-align: center;
}

.qr__login .item {
    display: table-cell;
    vertical-align: middle;
}

.qr__login .item:first-child {
    padding-right: 4px;
}

.qr__login .item:last-child {
    padding-left: 4px;
}

.qr__login .item__btn {
    position: relative;
    width: 100%;
    padding: 19px 0 13px;
    border: 1px solid #03c75a;
    background-color: #fff;
}

.qr__login .item__btn .text {
    position: relative;
    font-size: 16px;
    font-weight: 600;
    color: #000;
    /*z-index: 1;*/
}

